.inicioContainer {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, #fff0f3, #ffe4e9);
  padding: 2rem;
}

.perfil {
  text-align: center;
  background: rgba(255, 245, 248, 0.8);
  backdrop-filter: blur(2px);
  border-radius: 60px;
  padding: 2rem;
  box-shadow: 0 20px 30px rgba(0,0,0,0.05);
}

h1 {
  color: #9e3c63;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.botones {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.botones button {
  background-color: #f9a8d4;
  border: none;
  padding: 10px 24px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.2s;
}

.botones button:hover {
  background-color: #e689b3;
  transform: translateY(-3px);
}