<div class="paginaRegistro">

  <div class="fondoRegistro">

    <h2>Registrate</h2>

    <form [formGroup]="registerForm" (ngSubmit)="registrarse()" class="row g-3">

      <div class="mb-3">
        <label class="form-label">Nombre de usuario</label>
        <input class="form-control" type="text" formControlName="nombreUsuario" placeholder="Ingrese un nombre de usuario">
        @if (NombreUsuario?.invalid && (NombreUsuario?.touched)){
           <div class="text-danger">El nombre es requerido</div>
        }
      </div>
      
       <div class="mb-3">
        <label class="form-label">Email</label>
        <input class="form-control" type="email" formControlName="email" placeholder="Ingresa tu email">
        @if (Email?.invalid && (Email?.touched)){
          @if (Email?.hasError("required")){
            <div class="text-danger">El email es requerido</div>
          }
          @if (Email?.hasError("email")){
            <div class="text-danger">El formato del email debe ser válido</div>
          }
        }
      </div>

      <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input class="form-control" type="contraseña" formControlName="contraseña" placeholder="Ingrese una contraseña">
      </div>

      <div class="mb-4">
        <label class="form-label">Confirmar contraseña</label>
        <input class="form-control" type="contraseña" formControlName="confirmarContraseña" placeholder="Confirma tu contraseña">
      </div>

      <div class="col-12">
        <button class="btnRegistro" type="submit"> Registrarse</button>
      </div>

    </form>

  </div>

</div>