/*Projects*/

.proyectosContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    background-color: #F9F1F0;
    padding: 3rem 2rem;
    text-align: center;
}

.proyectosContainer h2 {
    grid-column: 1 / -1;
    margin-bottom: 1rem;
    color: #3D2525;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.fondoProyecto {
    background: white;
    border-radius: 32px;
    padding: 1.5rem;
    box-shadow: 0 8px 18px rgba(61, 37, 37, 0.08);
    transition: 0.25s;
    border-bottom: 5px solid #DDA7A5;
}

.fondoProyecto:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 25px rgba(184, 107, 104, 0.15);
}

.fondoProyecto h3 {
    color: #3D2525;
}

.linkGithub {
    display: inline-block;
    margin-top: 1rem;
    color: #B86B68;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s;
}

.linkGithub:hover {
    color: #DDA7A5;
    text-decoration: underline;
}

