<nav class="navbar">
  <div class="marco">
    <div class="foto">
      <img src="perfil.jpeg" alt="FotoDePerfil">
    </div>
    <span class="textoDelMarco">Nahiara Yasmin Millahuala</span>
  </div>

   <ul class="linkNavbar">
    <li><a routerLink="/inicio">Inicio</a></li>
    <li><a routerLink="/about">Sobre mí</a></li>
    <li><a routerLink="/contacts">Contactáme</a></li>
    <li><a routerLink="/projects">Proyectos</a></li>
    <!--<li><a routerLink="/register">Registro</a></li>-->
    <li><a routerLink="/form-proyect">Administrador</a></li>
  </ul> 
</nav>