<nav class="navbar">
  <div class="marco">
    <div class="foto">
      <img src="perfil.jpeg" alt="FotoDePerfil">
    </div>
    <span class="textoDelMarco">Mi Portfolio</span>
  </div>
  <ul class="linkNavbar">
    <li><a routerLink="/inicio">Inicio</a></li>
  </ul>
  <ul class="linkNavbar">
    <li><a routerLink="/about">Sobre mí</a></li>
  </ul>
  <ul class="linkNavbar">
    <li><a routerLink="/contacts">Contactáme</a></li>
  </ul>
  <ul class="linkNavbar">
    <li><a routerLink="/projects">Proyectos</a></li>
  </ul>
</nav>