<nav class="navbar">
  <div class="marco">
    <div class="foto">
      <img src="perfil.jpeg" alt="FotoDePerfil">
    </div>
    <span class="textoDelMarco">Mi Portfolio</span>
  </div>
  <ul class="linkNavbar">
    <li><a routerLink="/">Inicio</a></li>
  </ul>
  <ul class="linkNavbar">
    <li><a routerLink="./pages/about">Sobre mí</a></li>
  </ul>
  <ul class="linkNavbar">
    <li><a routerLink="/"></a>Contactáme</li>
  </ul>
  <ul class="linkNavbar">
    <li><a routerLink="/">Proyectos</a></li>
  </ul>
</nav>